---
layout: page
---

{{ content }}

{% assign tutorials = paginator.tutorials | default: site.tutorials %}

<div class="tutorials-list">
  {% for tutorial in tutorials %}
  <article class="tutorial-preview">

    {%- capture thumbnail -%}
      {% if tutorial.thumbnail-img %}
        {{ tutorial.thumbnail-img }}
      {% elsif tutorial.cover-img %}
        {% if tutorial.cover-img.first %}
          {{ tutorial.cover-img[0].first.first }}
        {% else %}
          {{ tutorial.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="tutorial-image tutorial-image-normal">
      <a href="{{ tutorial.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="tutorial thumbnail">
      </a>
    </div>
    {% endif %}
    {% endif %}

    <a href="{{ tutorial.url | absolute_url }}">
      <h2 class="tutorial-title">{{ tutorial.title | strip_html }}</h2>

      {% if tutorial.subtitle %}
        <h3 class="tutorial-subtitle">
        {{ tutorial.subtitle | strip_html }}
        </h3>
      {% endif %}
    </a>

    <p class="tutorial-meta">
      {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
      posted on {{ tutorial.date | date: date_format }}
    </p>

    {% if thumbnail != "" %}
    <div class="tutorial-image tutorial-image-small">
      <a href="{{ tutorial.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="tutorial thumbnail">
      </a>
    </div>
    {% endif %}

    {% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="tutorial-image tutorial-image-short">
      <a href="{{ tutorial.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="tutorial thumbnail">
      </a>
    </div>
    {% endif %}

    <div class="tutorial-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ tutorial.excerpt | strip_html | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = tutorial.excerpt | number_of_words %}
      {% if tutorial.content != tutorial.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ tutorial.url | absolute_url }}" class="tutorial-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
    {% endunless %}

    {% if site.feed_show_tags != false and tutorial.tags.size > 0 %}
    <div class="something-tutorials-tags">
      <span>Tags:</span>
      {% for tag in tutorial.tags %}
      <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer tutorials</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older tutorials &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
